# list(列表)

In [1]:
classmates = ['Michael','Bob','Tracy']
print(classmates)

['Michael', 'Bob', 'Tracy']

In [2]:
print(len(classmates))

3

In [8]:
print(classmates[0])
print(classmates[1])
print(classmates[2])
print(classmates[-1])#-1代表最后列表一位
print(classmates[-2])#同理倒数第二位和倒数第三位
print(classmates[-3])

Michael
Bob
Tracy
Tracy
Bob
Michael

In [12]:
classmates.append('Adam')
print(classmates)

['Michael', 'Bob', 'Tracy', 'Adam', 'Adam', 'Adam']

In [14]:
classmates.pop()#删除list末尾的元素
print(classmates)

['Michael', 'Bob', 'Tracy', 'Adam']

In [15]:
classmates.pop(1)#删除指定索引的元素
print(classmates)

['Michael', 'Tracy', 'Adam']

In [16]:
classmates[1] = 'Sarah'
#指定索引位置直接赋值,会覆盖
print(classmates)

['Michael', 'Sarah', 'Adam']

In [18]:
L = ['Apple',123,True]
print(L)#list可存放不同数据类型的值，甚至list
l = ['small apple',124,False]
L.append(l)
print(L)#l作为一个列表元素存入列表L中

['Apple', 123, True]
['Apple', 123, True, ['small apple', 124, False]]

In [25]:
print(len(L))
#甚至可以用二位数组来获取l里的元素
print(L[3][2])
print(l[2])

4
False
False

# tuple（元祖）

In [28]:
deskmates = ('zhangsan','lisi','wangwu')#注意一旦初始化无法修改
print(deskmates)
#deskmates[0] = 1,修改其值会报错

('zhangsan', 'lisi', 'wangwu')

TypeError: 'tuple' object does not support item assignment

In [33]:
#定义只有1个元素的tuple时，记得用逗号消除歧义，不然python以为你在做运算
t1 = (1)
t2 = (1,)
print(t1,t2)

1 (1,)

In [35]:
#tuple的元素不可变是相对于地址来算的，如果tuple存入的是list，改变list里的值是可以的，但是不能改成另外的list
t = ('a','b',['A','B'])
t[2][0] = 'X'
t[2][1] = 'Y'
print(t)
l = ['A','B']
#t[2] = l这样就不行

('a', 'b', ['X', 'Y'])

TypeError: 'tuple' object does not support item assignment

In [36]:
L = [
    ['Apple','Google','Microsoft'],
    ['Java','Python','Ruby','PHP'],
    ['Adam','Bart','Lisa']
]
print(L[0][0])
print(L[1][1])
print(L[2][2])

Apple
Python
Lisa